[*.cs]

# CS8603: Null 参照戻り値である可能性があります。
dotnet_diagnostic.CS8603.severity = silent

# CS8600: Null リテラルまたは Null の可能性がある値を Null 非許容型に変換しています。
dotnet_diagnostic.CS8600.severity = silent

# CS8604: Null 参照引数の可能性があります。
dotnet_diagnostic.CS8604.severity = silent
